.App {
  text-align: center;
}

.principalContainer{
    height: 100vh;
}

html, body, #root, #root>div {
  background-color: rgb(233, 219, 222);
  height: 100%
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.col {
  padding: 20px;
}

.navbar{
  background-color: rgb(229, 67, 1);
}